<div class="container-fluid">
    <div class="row gx-5">
        <div class="col-12 col-md-2 col-lg-2 px-0">
            <app-side-nav></app-side-nav>
        </div>
        <div class="col-12 col-md-10 col-lg-10 ps-10">
            <div class="row justify-content-between mt-12">
                <div class="col-6 col-md-3 col-lg-3 col-xl-3">
                    <h3 class="addjob-tilte">
                        Recruiters
                    </h3>
                </div>
                <div class="col-6 col-md-3 col-lg-3 col-xl-3 pe-0 text-end">
                    <app-header></app-header>
                </div>
                <div class="col-12 col-md-12 col-lg-12 mt-20">
                    <div class="row justify-content-between">
                        <div class="col-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <form>
                                <div class="row justify-content-start">
                                    <div class="col-6 col-md-5 col-lg-5">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Search Industry</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Others</option>
                                        </select>
                                    </div>
                                    <div class="col-6 col-md-5 col-lg-5">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Search Job Role</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Others</option>
                                        </select>
                                    </div>
                                    <div class="col-6 col-md-2 col-lg-2">
                                        <button class="btn btn-job rounded-3">Apply</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3 pe-3">
                            <div class="search">
                                <form action="">
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i
                                                class="fa-solid fa-magnifying-glass"></i></span>
                                        <input type="text" class="form-control" placeholder="Search..">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12 mt-10">
                            <div class="recruiter-list">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Mobile No</th>
                                                <th>Address</th>
                                                <th>Job Id</th>
                                                <th>Profile Match</th>
                                                <th>Profile</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>CY1101</td>
                                                <td>Test</td>
                                                <td>test&#64;eamil.com</td>
                                                <td>8899887744</td>
                                                <td>Test Address 1</td>
                                                <td>CYJ22033</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <ngb-progressbar type="info" [value]="100" [striped]="true"
                                                            [animated]="true"></ngb-progressbar>
                                                        <p class="ms-2 text-warning">
                                                            <b>100%</b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                   <button class="btn-pdf">
                                                        Test.pdf
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CY1101</td>
                                                <td>Test</td>
                                                <td>test&#64;eamil.com</td>
                                                <td>8899887744</td>
                                                <td>Test Address 1</td>
                                                <td>CYJ22033</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <ngb-progressbar type="info" [value]="100" [striped]="true"
                                                            [animated]="true"></ngb-progressbar>
                                                        <p class="ms-2 text-warning">
                                                            <b>100%</b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                   <button class="btn-pdf">
                                                        Test.pdf
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CY1101</td>
                                                <td>Test</td>
                                                <td>test&#64;eamil.com</td>
                                                <td>8899887744</td>
                                                <td>Test Address 1</td>
                                                <td>CYJ22033</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <ngb-progressbar type="info" [value]="100" [striped]="true"
                                                            [animated]="true"></ngb-progressbar>
                                                        <p class="ms-2 text-warning">
                                                            <b>100%</b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn-pdf">
                                                        Test.pdf
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CY1101</td>
                                                <td>Test</td>
                                                <td>test&#64;eamil.com</td>
                                                <td>8899887744</td>
                                                <td>Test Address 1</td>
                                                <td>CYJ22033</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <ngb-progressbar type="info" [value]="100" [striped]="true"
                                                            [animated]="true"></ngb-progressbar>
                                                        <p class="ms-2 text-warning">
                                                            <b>100%</b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                   <button class="btn-pdf">
                                                        Test.pdf
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CY1101</td>
                                                <td>Test</td>
                                                <td>test&#64;eamil.com</td>
                                                <td>8899887744</td>
                                                <td>Test Address 1</td>
                                                <td>CYJ22033</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <ngb-progressbar type="info" [value]="100" [striped]="true"
                                                            [animated]="true"></ngb-progressbar>
                                                        <p class="ms-2 text-warning">
                                                            <b>100%</b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                   <button class="btn-pdf">
                                                        Test.pdf
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CY1101</td>
                                                <td>Test</td>
                                                <td>test&#64;eamil.com</td>
                                                <td>8899887744</td>
                                                <td>Test Address 1</td>
                                                <td>CYJ22033</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <ngb-progressbar type="info" [value]="100" [striped]="true"
                                                            [animated]="true"></ngb-progressbar>
                                                        <p class="ms-2 text-warning">
                                                            <b>100%</b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                   <button class="btn-pdf">
                                                        Test.pdf
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CY1101</td>
                                                <td>Test</td>
                                                <td>test&#64;eamil.com</td>
                                                <td>8899887744</td>
                                                <td>Test Address 1</td>
                                                <td>CYJ22033</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <ngb-progressbar type="info" [value]="100" [striped]="true"
                                                            [animated]="true"></ngb-progressbar>
                                                        <p class="ms-2 text-warning">
                                                            <b>100%</b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                   <button class="btn-pdf">
                                                        Test.pdf
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CY1101</td>
                                                <td>Test</td>
                                                <td>test&#64;eamil.com</td>
                                                <td>8899887744</td>
                                                <td>Test Address 1</td>
                                                <td>CYJ22033</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <ngb-progressbar type="info" [value]="100" [striped]="true"
                                                            [animated]="true"></ngb-progressbar>
                                                        <p class="ms-2 text-warning">
                                                            <b>100%</b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                   <button class="btn-pdf">
                                                        Test.pdf
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CY1101</td>
                                                <td>Test</td>
                                                <td>test&#64;eamil.com</td>
                                                <td>8899887744</td>
                                                <td>Test Address 1</td>
                                                <td>CYJ22033</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <ngb-progressbar type="info" [value]="100" [striped]="true"
                                                            [animated]="true"></ngb-progressbar>
                                                        <p class="ms-2 text-warning">
                                                            <b>100%</b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                   <button class="btn-pdf">
                                                        Test.pdf
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>CY1101</td>
                                                <td>Test</td>
                                                <td>test&#64;eamil.com</td>
                                                <td>8899887744</td>
                                                <td>Test Address 1</td>
                                                <td>CYJ22033</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <ngb-progressbar type="info" [value]="100" [striped]="true"
                                                            [animated]="true"></ngb-progressbar>
                                                        <p class="ms-2 text-warning">
                                                            <b>100%</b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                   <button class="btn-pdf">
                                                        Test.pdf
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col-12 col-md-2 col-lg-2">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
                                                <li class="page-item"><a class="page-link link-first" href="#">1</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="col-12 col-md-5 col-lg-5">
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-upload me-3" (click)="fileInput.click()">
                                                <i class="bi bi-upload"></i> Upload CSV
                                            </button>
                                            <input type="file" #fileInput (change)="onFileChange($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display: none;">
                                            <button class="btn btn-upload"><i class="bi bi-download"></i> Export Csv</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="exampleModalLabel">Message</h5>
                <button type="button" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close"><i
                        class="bi bi-x-circle"></i></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi minus perferendis laborum ipsam
                    officiis iste harum voluptatem, enim veniam accusamus nemo provident inventore aliquam neque sequi,
                    minima nostrum natus fugit!</p>
            </div>
        </div>
    </div>
</div>